/2TRIMESTRE/LectoresEscritores/nbproject/private/
/2TRIMESTRE/LectoresyEscritores_1/nbproject/private/
/2TRIMESTRE/JavaApplication56/nbproject/private/
/2TRIMESTRE/ProbandoExcepciones/nbproject/private/
/2TRIMESTRE/ProbandoExcepciones/build/
/2TRIMESTRE/urnademierda/nbproject/private/
/2TRIMESTRE/MultimediaVideoclub/nbproject/private/
/2TRIMESTRE/Multimedia/nbproject/private/
/2TRIMESTRE/Multimedia/build/
/2TRIMESTRE/Musica/nbproject/private/
/2TRIMESTRE/Compositor/nbproject/private/
/2TRIMESTRE/Compositor/build/
/2TRIMESTRE/Evaluador/nbproject/private/
/2TRIMESTRE/Evaluador/build/
/2TRIMESTRE/JavaApplication62/nbproject/private/
/2TRIMESTRE/JavaFXApplication9/nbproject/private/
/2TRIMESTRE/JavaFXApplication10/nbproject/private/
/2TRIMESTRE/JavaFXApplication10/build/
/2TRIMESTRE/AddresAPP/dist/
/2TRIMESTRE/AddresAPP/build/
/2TRIMESTRE/AddresAPP/nbproject/private/
/3TRIMESTRE/Calculadora/nbproject/private/
/3TRIMESTRE/GuerraMarciana/nbproject/private/
/3TRIMESTRE/GuerraMarciana/dist/
/3TRIMESTRE/GuerraMarciana/build/
/3TRIMESTRE/ConectarBD/nbproject/private/
/3TRIMESTRE/ConectarBD/build/
/3TRIMESTRE/dePrueba/nbproject/private/
/3TRIMESTRE/dePrueba/build/
/3TRIMESTRE/dePruebaBaseDeDatos/nbproject/private/
/3TRIMESTRE/dePruebaBaseDeDatos/build/
/3TRIMESTRE/JavaFXApplication1/nbproject/private/
/3TRIMESTRE/JavaFXApplication1/build/
/3TRIMESTRE/JavaFXApplication1/dist/
/3TRIMESTRE/ProductorConsumidorv2/nbproject/private/
/3TRIMESTRE/ProductorConsumidorv2/build/
/3TRIMESTRE/ProductorConsumidorv2elquenova/nbproject/private/
/3TRIMESTRE/borrarme/nbproject/private/
/3TRIMESTRE/borrarme/dist/
/3TRIMESTRE/borrarme/build/
/3TRIMESTRE/BaseDatos/nbproject/private/
/3TRIMESTRE/BaseDatos/build/
/3TRIMESTRE/BaseDatos/dist/
/3TRIMESTRE/MiBasedeDatos/nbproject/private/
/3TRIMESTRE/MiBasedeDatos/build/
/3TRIMESTRE/MiBasedeDatos/dist/
/3TRIMESTRE/Calculadora/build/
/3TRIMESTRE/Calculadora/dist/
/3TRIMESTRE/semaforos/nbproject/private/
/3TRIMESTRE/semaforos/build/
/3TRIMESTRE/semaforos/dist/
/3TRIMESTRE/ProductorConsumidorv2elquenova/build/
/pruebas/JavaFXApplication5/nbproject/private/
/pruebas/JavaFXApplication5/build/
/pruebas/JavaFXApplication5/dist/
/pruebas/JavaFXApplication6/nbproject/private/
/pruebas/JavaFXApplication6/build/
/pruebas/JavaFXApplication6/dist/
/pruebas/JavaFXApplication7/nbproject/private/
/pruebas/Musica/nbproject/private/
/3TRIMESTRE/Musica/nbproject/private/
/3TRIMESTRE/Musica/build/
/3TRIMESTRE/ConcurrenciaLectores/nbproject/private/
/3TRIMESTRE/ConcurrenciaLectores/build/
/3TRIMESTRE/miCalculadora/nbproject/private/
/3TRIMESTRE/miCalculadora/build/
/3TRIMESTRE/miCalculadora/dist/
/pruebas/JavaFXApplication7/dist/
/pruebas/JavaFXApplication7/build/
/3TRIMESTRE/simpleBasedeDatos/nbproject/private/
/3TRIMESTRE/simpleBasedeDatos/build/
/pruebas/JavaApplication7/nbproject/private/
/pruebas/JavaApplication7/build/
/pruebas/nuevoGuerraMarciana/nbproject/private/
/pruebas/nuevoGuerraMarciana/build/
/3TRIMESTRE/miCalculadorav2.0/nbproject/private/
/3TRIMESTRE/miCalculadorav2.0/dist/
/3TRIMESTRE/miCalculadorav2.0/build/
/2TRIMESTRE/ProductorConsumidor/build/
/3TRIMESTRE/Rock/nbproject/private/
/3TRIMESTRE/Rock/build/
/pruebas/JavaApplication9/nbproject/private/
/pruebas/JavaApplication10/nbproject/private/
/pruebas/JavaApplication10/build/
/pruebas/JavaApplication9/build/
/pruebas/JavaApplication11/nbproject/private/
/pruebas/JavaApplication11/build/
/pruebas/JavaApplication12/nbproject/private/
/pruebas/JavaApplication12/build/
/pruebas/JavaFXApplication9/nbproject/private/
/pruebas/JavaFXApplication9/build/
/pruebas/JavaFXApplication9/dist/
/pruebas/JavaFXApplication10/nbproject/private/
/pruebas/JavaFXApplication10/build/
/pruebas/JavaFXApplication10/dist/
/pruebas/JavaApplication13/nbproject/private/
/pruebas/JavaApplication13/build/
/pruebas/JavaFXApplication11/nbproject/private/
/pruebas/JavaFXApplication11/build/
/pruebas/JavaFXApplication11/dist/
/pruebas/JavaFXApplication12/nbproject/private/
/pruebas/JavaFXApplication12/dist/
/pruebas/JavaFXApplication12/build/
/pruebas/ListinTelefonico/nbproject/private/
/pruebas/ListinTelefonico/build/
/pruebas/ListinTelefonico/dist/
/pruebas/ParticipacionActiva/nbproject/private/
/pruebas/ParticipacionActiva/build/
/pruebas/ParticipacionActiva/dist/
/pruebas/JavaFXSwingApplication1/nbproject/private/
/pruebas/JavaFXSwingApplication1/build/